@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply scroll-smooth;
}

body {
  @apply overscroll-none font-lato text-base text-slate-800 md:text-lg;
}

h1 {
  @apply text-4xl md:text-7xl;
}

h2 {
  @apply text-3xl md:text-5xl;
}

h3 {
  @apply text-2xl md:text-4xl;
}

h4 {
  @apply text-xl md:text-3xl;
}

h5 {
  @apply text-lg md:text-2xl;
}

u {
  text-decoration: none;
  @apply underline underline-offset-2;
}

.defaultTransition {
  @apply transition-colors duration-200 ease-out;
}

.defaultTransitionAll {
  @apply transition-all duration-200 ease-out;
}
